{% include head.html %}
<div class="m-banner"></div>
<div class="g-bd g-wrap f-cb">
	<div class="g-mn f-fl">
		<ul class="m-articelList">
			{% for post in site.posts %}
				{% if forloop.index <=12 %}
				<li>
					<div class="tit">
						<h2>
							<a href="{{ post.url }}/">
								{% assign paths = post.id | split: '/' %}
								{{ post.title | strip_html | truncate: 22 }}
							</a>
						</h2>
					</div>
					{% if post.pic %}
					<div class="pic">
						<img src="{{ post.pic }}" alt="">
					</div>
					{% endif %}
					<div class="summary">
						<p>{{ post.summary }}</p>
					</div>
					<div class="meta">
						<span>{{ post.date | date_to_string }}</span>
						{% if post.author %}
						<span>{{ post.author }}</span>
						{% endif %}
					</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<!-- <div class="g-sd f-fr"></div> -->
</div>

{% include footer.html %}
