{% include head.html %}

<div class="g-hd m-hd">
  <div class="logo">
    <h1>Shhider's</h1>
  </div>
  <ul class="m-nav">
    <li><a class="crt" href="/">程序猿</a></li>
    <li><a href="/life.html">瞎扯扯</a></li>
  </ul>
</div>

<div class="g-bd f-cb">
	<div class="g-mn">
		<div class="m-bloglist">
			<div class="m-mdtit">最新文章</div>
			{% for post in site.posts %}
				{% if post.category != 'life' %}
				<section>
					<h2>
						<a href="{{ post.url }}">
							{% assign paths = post.id | split: '/' %}
							{{ post.title | strip_html }}
						</a>
					</h2>
					<h4>{{ post.date | date_to_string }}</h4>
					{% if post.pic %}
						<div class="pic">
							<img src="{{ post.pic }}" alt="">
						</div>
					{% endif %}
					<div class="summary">
						<p>{{ post.summary }}</p>
					</div>
				</section>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% include side.html %}
</div>

{% include footer.html %}
