{% include head.html %}

<div class="container">
    {% for post in site.posts %}
        {% if forloop.index <=12 %}
        <section>
            <a href="{{ post.url }}/">
                {% assign paths = post.id | split: '/' %}
                <h2>{{ post.title | strip_html | truncate: 22 }}</h2>
            </a>
            <p class="date">发布于 {{ post.date | date_to_string }}</p>
            <p>{{ post.preview }}</p>
        </section>
        {% endif %}
    {% endfor %}
</div>

{% include footer.html %}
