{% include head.html %}

<div class="g-bd g-wrap f-cb">
	<div class="g-mn f-fl">
		<article>
			<div class="article-info">
        <h1 class="title">{{ page.title }}</h1>
        <div class="author">{{ page.date | date_to_string }}</div>
      </div>
      <div class="content">
      {{ content }}
      </div>
		</article>
	</div>
  {% include side.html %}
</div>

<script>
(function(){
  /* 加载代码高亮样式 */
  var _node = document.createElement('link');
  _node.rel = 'stylesheet';
  _node.type= 'text/css';
  _node.href= '/public/css/synatx.css';
  var _head = document.getElementsByTagName('head')[0];
  _head.appendChild(_node);
})();
</script>

{% include footer.html %}
